Mike/CheckStorageUnitsInUseTest/xml-resources/web-service-references/CheckStorageUnitsInUse/wsdl/localhost_8080/StorageUnits/CheckStorageUnitsInUse.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices/">

<xs:element name="checkStorageUnitsInUse" type="tns:checkStorageUnitsInUse" />

<xs:element name="checkStorageUnitsInUseResponse" type="tns:checkStorageUnitsInUseResponse" />

<xs:complexType name="checkStorageUnitsInUse">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkStorageUnitsInUseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>